# path or URL to sample sheet (TSV format, columns: sample, condition, ...)
ref:
  # path/to/bowtie2 index
  index:        /varidata/research/projects/bbc/versioned_references/2025-12-18_22.42.45_v22/data/mm10_gencode_plus_dm6/indexes/bowtie2/mm10_gencode_plus_dm6
  fai:  /varidata/research/projects/bbc/versioned_references/2025-12-18_22.42.45_v22/data/mm10_gencode_plus_dm6/sequence/mm10_gencode_plus_dm6.fa.fai
  sequence:  /varidata/research/projects/bbc/versioned_references/2025-12-18_22.42.45_v22/data/mm10_gencode_plus_dm6/sequence/mm10_gencode_plus_dm6.fa
  # if blacklist is provided, alignments will be filtered against these reions; set to "" if this is not desired or if blacklist is not available
  blacklist: /varidata/research/projects/bbc/versioned_references/2025-12-18_22.42.45_v22/data/mm10_gencode/blacklist/mm10_encode_v2.bed  

# OPTIONAL: space-delimited file (one line) containing the chromosomes to keep (e.g. the chromosomes, not the unplaced contigs). Do not include spikein chroms.
keep_chroms_file: "bin/keep_chroms.txt"

# Ignored if 'keep_chroms_file' is set. If True, standard chromosomes will be 'guessed' using GenomeInfoDb::standardChromosomes.
keep_std_chroms: True 

# Ignored if 'keep_chroms_file' is set. Comma-separated string; use "" if no chromosomes to remove.
rm_chroms: "chrM" 

# OPTIONAL: space-delimited file (one line) containing the spikein chromosomes. Specify "" if no spikeins.
spikein_chroms_file: "bin/spikein_chroms.txt"

# Alignment filtering options. Duplicates are marked, so one could filter out duplicates using SAM flags.
samtools_mapq: 20 # for -q argument in samtools view
samtools_keep_flags: "" # for -f argument in samtools view
samtools_omit_flags: "1024" # for -F argument in samtools view; use 1024 to remove duplicates

macs3:
  species: "mm"
  run_broad: False # set to True to run macs3 in broad mode also.

frip:
  peak_type: "macs3_narrow"

# comment out what is not needed in 'addtnl_bigwig_norms'. These are additional approaches to normalize the BigWigs.
addtnl_bigwig_norms:
  - 'csaw_bkgd'
  - 'csaw_hiAbund'
  - 'csaw.bkgd_spikein'
  - 'csaw.hiAbund_spikein'

# Differential analysis
csaw:
  run: True
  norm_type: ["hiAbund","bkgd","hiAbund.spikein","bkgd.spikein"] # options are "bkgd" "hiAbund" "hiAbund.spikein" "bkgd.spikein"
  peak_type: "macs3_narrow"
  win_width: [150,20] # The first window size listed will be used for Bigwig normalizations; for TFs use 10-20bp

chipseeker_params:
  orgdb: "org.Mm.eg.db"
  txdb: "TxDb.Mmusculus.UCSC.mm10.knownGene"
  promoter_start: -3000
  promoter_end: 500

# Delete big intermediate files
cleanup_big_files:
  unfilt_coordsorted_bams: False
  filt_namecollated_bams: True
  filt_coordsorted_bams: False

modules:
  cutadapt: bbc2/cutadapt/cutadapt-4.3
  bowtie2:  bbc2/bowtie2/bowtie2-2.5.1
  samtools: bbc2/samtools/samtools-1.21
  bedtools: bbc2/bedtools/bedtools-2.30.0
  ucsc: bbc2/kent-core/kent-core-v448 
  fastqc: bbc2/fastqc/fastqc-0.12.1
  fastq_screen: bbc2/fastq_screen/fastq_screen-0.14.0
  samblaster: bbc2/samblaster/samblaster-0.1.26
  htslib: bbc2/htslib/htslib-1.20
  trim_galore: bbc2/trim_galore/trim_galore-0.6.10
  macs3: bbc2/macs3/macs3-3.0.3
  picard: bbc2/picard/picard-3.0.0
  multiqc: bbc2/multiqc/multiqc-1.33
  R: bbc2/R/alt/R-4.4.2-setR_LIBS_USER-extra
  pandoc: bbc2/pandoc/pandoc-3.1.2
  qualimap: bbc2/qualimap/qualimap_v.2.2.2
  deeptools: bbc2/deeptools/deeptools-3.5.2
